# LLM
GROQ_API_KEY=

# Embeddings
OPENAI_API_KEY=

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/wayfound

# Auth
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Weather API
OPENWEATHERMAP_API_KEY=

# Flights API
AMADEUS_API_KEY=
AMADEUS_API_SECRET=

# Webhook
DISCORD_WEBHOOK_URL=

# LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=wayfound